/* Global Styles */
html, body {
    height: 100%;
    margin: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: black;
    display: flex;
    flex-direction: column;
}

.main-content {
    flex: 1;
}

/* Header Styles */
header {
    background-color: black;
    color: white;
    padding: 20px 0;
    height: auto;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 20px;
    border-radius: 30px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

nav ul li a:hover, nav ul li a.active {
    background-color: green;
    color: #e9ecef;
}

/* Logo Styles */
.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

.logo {
    max-width: 160px;
    height: auto;
}

.hero {
    color: white;
    padding: 30px 20px;
    text-align: center;
}

.hero h1 {
    font-size: 22px;
    margin-bottom: 30px;
    text-align: center;
}

.hero p {
    font-size: 22px;
    margin-bottom: 30px;
    text-align: center;
}

.hero a {
    text-decoration: dashed;
}

section {
    text-align: center;
}


.cta {
    display: inline-block;
    padding: 15px 30px;
    background-color: #28a745;
    color: white;
    text-decoration: none;
    border-radius: 30px;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.cta:hover {
    background-color: #218838;
}

/* Section Styles */
section {
    padding: 60px 20px;
    margin: 20px 0;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

section h2 {
    text-align: center;
    font-size: 36px;
    margin-bottom: 20px;
    color: black;
    font-weight: 700;
}

section p {
    text-align: center;
    font-size: 18px;
    margin-bottom: 20px;
    max-width: 800px;
    margin: 0 auto 30px;
    color: #555;
}

/* Project Gallery */
.project-gallery {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.project-card {
    background-color: #f8f9fa;
    margin: 10px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: calc(50% - 20px);
    text-align: center;
    transition: transform 0.3s ease;
}

.project-card:hover {
    transform: translateY(-10px);
}

.project-card img {
    max-width: 100%;
    border-radius: 8px;
    margin-bottom: 15px;
}

.project-card p {
    font-size: 16px;
    color: #333;
}

/* Contact Form */
form {
    max-width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

form label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

form input,
form textarea {
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 8px;
    border: 1px solid #ccc;
    width: 100%;
    box-sizing: border-box;
    font-size: 16px;
    color: #333;
}

form button {
    padding: 15px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: green;
}

/* Footer */
footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 20px 0;
    margin-top: auto;

}

footer p {
    margin: 0;
}

footer .social-links a {
    color: white;
    text-decoration: none;
    margin: 0 10px;
    font-size: 18px;
    transition: color 0.3s ease;
}

footer .social-links a:hover {
    color: #28a745;
}

/* Teams Section */
.teams-container {
    width: 80%;
    max-width: 1200px;
    margin: 20px auto;
    text-align: center;
}

h2 {
    color: black;
    margin-bottom: 20px;
}

.table {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    background-color: #d2efeb;
    padding: 20px;
    border-radius: 8px;
}

.team-cell {
    background-color: white;
    padding: 15px;
    border-radius: 5px;
    color: black;
    font-size: 18px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.join-btn {
    background-color: black;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.join-btn:hover {
    background-color: green;
}

/* Responsive Design */
@media (max-width: 768px) {
    nav ul {
        flex-direction: column;
    }

    nav ul li {
        margin: 10px 0;
    }

    .project-card {
        width: 100%;
    }

    .table {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {
    .hero h1 {
        font-size: 36px;
        
    }
    .hero p {
        font-size: 18px;
    }

    .cta {
        padding: 10px 20px;
        font-size: 16px;
    }

    .table {
        grid-template-columns: 1fr;
    }
}
